<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>Crud!</title>
  </head>
  <body>
    <div class="container mt-4">
      <div class="alert alert-primary text-center" role="alert">
        <h2>Simple Django CRUD</h2>
      </div>

      <!-- Form for adding values -->
      <div class="row">
        <div class="col-sm-4">
          <h3 class="alert alert-success">Add new record</h3>
          <form method="POST" action="">
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputText" class="form-label">User name</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputText"
                aria-describedby="textHelp"
                name="username"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                name="email"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                name="password"
              />
            </div>

            <button type="submit" class="btn btn-primary">Add</button>
          </form>
        </div>

        <div class="col-sm-7 offset-1">
          <h2 class="alert alert-success text-center">Students Record</h2>
          {% if students %}
          <table class="table table-hover">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Password</th>
              <th>Action</th>
            </tr>
            {% for student in students %}
            <tr>
              <td>{{student.id}}</td>
              <td>{{student.name}}</td>
              <td>{{student.email}}</td>
              <td>{{student.password}}</td>
              <td>
                <a href="{% url 'edit' student.id %}" class="btn btn-warning"
                  >Edit</a
                >
              </td>
              <td>
                <a href="{% url 'delete' student.id %}" class="btn btn-danger"
                  >Danger</a
                >
              </td>
            </tr>
            {% endfor %}
          </table>
          {% else %}
          <h2 class="alert alert-danger text-center">No record exist</h2>
          {% endif %}
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
